// Variables and Mixins
@import 'variables.less';
@import 'mixins.less';

// Reset and Global Styles
@import 'reset.less';
@import 'global.less';

// Reusable components
@import 'navigation.less';
@import 'footer.less';

// Page Specific
@import 'home-page.less';


.opaque {
    opacity: .5;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.source, .target {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    font-size: 2.4rem;
}